nav ul{
    background-color: rgba(255, 255, 0, 0.144);
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 1%;
        font-size: 95%;
}
nav ul li{
    list-style-type: none;
    display: inline;
    padding-left: 3%;
    padding-right: 3%;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 75%;
}